@page "/home"

@rendermode InteractiveServer
@using FinanceTracker.Components.Data
@using FinanceTracker.Services

@inject UserService UserService
@inject TransactionService TransactionService
@inject CustomAuthStateProvider AuthStateProvider
@inject NavigationManager Navigation

<PageTitle>Dashboard</PageTitle>

<div class="logout">
    <button @onclick="Logout" class="logout-btn">Logout</button>
</div>


<h1 class="page-title">Dashboard</h1>
@if (transactions != null)
{
    
    <div class="total-amount">
        <h4>Total Amount: @GetTotalAmount()</h4>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Description</th>
                <th>Amount</th>
                <th>Category</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var transaction in transactions)
            {
                <tr>
                    <td>@transaction.Description</td>
                    <td>@transaction.Amount</td>
                    <td>@transaction.Category</td>
                    <td>
                        <button @onclick="() => DeleteTransaction(transaction.Id)">Delete</button>
                    </td>
                    <td>@transaction.Type</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Loading...</p>
}




<EditForm Model="@newTransaction" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>Description:</label>
        <InputText @bind-Value="newTransaction.Description" />
    </div>
    <div>
        <label>Category</label>
        <InputText @bind-Value="newTransaction.Category"/>
    </div>
    <div>
        <label>Amount:</label>
        <InputNumber @bind-Value="newTransaction.Amount" />
    </div>
    <div>
        <label for="type">Type:</label>
        <InputSelect @bind-Value="newTransaction.Type">
            <option value="">Select Type</option>
            <option value="Receive">Receive</option>
            <option value="Send">Send</option>
        </InputSelect>
    </div>
    <button type="submit">Add Transaction</button>
</EditForm>


@code{
    private List<Transaction> transactions; 
    private NewTransaction newTransaction = new NewTransaction();
   
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var login = authState.User.Identity.Name;

        if (login != null)
        {
            var user = await UserService.GetUserByLogin(login);
            if (user != null)
            {
                var userId = user.Id;
                transactions = await TransactionService.GetTransactionsByUserId(userId);
            }
        }
    }

    private async Task LoadTransactions(int userId)
    {
        transactions = await TransactionService.GetTransactionsByUserId(userId);
    }

    private async Task HandleValidSubmit()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var login = authState.User.Identity.Name;

        if(login != null)
        {
            var user = await UserService.GetUserByLogin(login);
            if(user != null)
            {
                var transaction = new Transaction
                {
                    Description = newTransaction.Description,
                    Category = newTransaction.Category,
                    Amount = newTransaction.Amount,
                    Type = newTransaction.Type,
                    UserId = user.Id
                };
                await TransactionService.AddTransaction(transaction);
                transactions.Add(transaction);
            }
        }
    }

     private decimal GetTotalAmount()
    {
        return transactions.Sum(t => t.Type == "Receive" ? t.Amount : -t.Amount);
    }

    private void Logout(){
        ((CustomAuthStateProvider)AuthStateProvider).Logout();
        Navigation.NavigateTo("/login", true);
    }

    private async Task DeleteTransaction(int transactionId)
    {
        await TransactionService.DeleteTransaction(transactionId);
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var userName = authState.User.Identity.Name;
        var user = await UserService.GetUserByLogin(userName);
        transactions = await TransactionService.GetTransactionsByUserId(user.Id);
        StateHasChanged();
    }

}