@page "/wallets/{walletId:int}"

@rendermode InteractiveServer
@using FinanceTracker.Components.Data
@using FinanceTracker.Services

@inject TransactionService TransactionService
@inject CustomAuthStateProvider AuthStateProvider
@inject NavigationManager Navigation

<h3 class="page-title">Transactions for Wallet @WalletId</h3>

<AddTransactionModal @ref="addTransactionModal" WalletId="@WalletId" OnTransactionAdded="OnTransactionAdded" />

@if (!string.IsNullOrEmpty(errorMessage))
{
<div class="alert alert-danger">@errorMessage</div>
}
else if (transactions.Count == 0)
{
    <div style="margin-bottom: 10px">No transactions found for this wallet.</div>
    <button @onclick="ShowAddTransactionModal" class="btn btn-primary">Add Transaction</button>
}
else
{
    <div class="transaction-list">
        @if (transactions != null)
        {
            @foreach (var transaction in transactions)
            {
                <div class="transaction-item">
                    <div class="transaction-item-content">
                        @if (transaction.Type == "Receive")
                        {
                            <p class="transaction-item-amount green">+@transaction.Amount UAH</p>
                        }
                        else
                        {
                            <p class="transaction-item-amount">@transaction.Amount UAH</p>
                        }
                        <p class="transaction-item-description">@transaction.Description</p>
                    </div>
                    <img @onclick="() => DeleteTransaction(transaction.Id)" class="transaction-item-btn" src="Delete-button.svg.png"/>
                </div>
            }
        }
        else
        {
            <p>Loading...</p>
        }
        <button @onclick="ShowAddTransactionModal" class="btn btn-primary">Add Transaction</button>
    </div>
}



@code {
    [Parameter] public int WalletId { get; set; }
    
    private AddTransactionModal addTransactionModal;
    private List<Transaction> transactions = new();
    private string errorMessage;
    private Wallet wallet;
    private List<Wallet> wallets;
    private User user;

    private async Task<int> GetUserIdAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var userIdClaim = authState.User.FindFirst("UserId");
        return userIdClaim != null && int.TryParse(userIdClaim.Value, out int userId) ? userId : 0;
    }
    
    protected override async Task OnInitializedAsync()
    {
        transactions = await TransactionService.GetTransactionsByWalletIdAsync(WalletId);
    }
    
    private async Task DeleteTransaction(int transactionId)
    {
        var userId = await GetUserIdAsync();
        await TransactionService.DeleteTransaction(transactionId);
        transactions = await TransactionService.GetTransactionsByUserId(userId);
    }
    
    private async Task LoadTransactions()
    {
        transactions = await TransactionService.GetTransactionsByWalletIdAsync(WalletId);
    }
    
    private async Task OnTransactionAdded()
    {
        await LoadTransactions();
    }

    private void ShowAddTransactionModal()
    {
        addTransactionModal.Show();
    }
}